* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-darkgreen-1: #535c49;
  --color-darkgreen-2: #e8efe2;
  --color-lightgreen: #a5b892;
  --color-green: #7c8a6e;
  --color-white: #fff;
  --color-black: #151713;
  --radius: 3px;
  --transition: all 0.3s linear;
  --spacing: 2px;
  --box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

body {
  line-height: 1.5;
}

.btns {
  width: 80vw;
  margin: 1rem auto;
}

.btn {
  display: inline-block;
  min-width: 120px;
  min-height: 50px;
  border-radius: var(--radius);
  padding: 0.8rem 1.2rem;
  margin: 1.5rem 2rem;
  font-size: 1rem;
  text-transform: capitalize;
  transition: var(--transition);
  background: transparent;
  letter-spacing: var(--spacing);
  border: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.regular-btn {
  background: var(--color-darkgreen-1);
  color: var(--color-darkgreen-2);
  margin-right: 0.2rem;
}

.regular-btn:hover {
  background: var(--color-lightgreen);
}

.hipster-btn {
  background: var(--color-lightgreen);
  color: var(--color-white);
}

.hipster-btn:hover {
  /* border: 2px solid var(--color-lightgreen); */
  /* background: transparent; */
  background: var(--color-darkgreen-1);
  color: var(--color-darkgreen-2);
}

/* dropdown button */
.dropdown-btn {
  background: var(--color-darkgreen-1);
  color: var(--color-darkgreen-2);
}

.dropdown-btn:hover {
  background: var(--color-lightgreen);
  color: var(--color-darkgreen-1);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  margin: -1.5rem 2rem;
  list-style-type: none;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.item {
  /* margin: 0.8rem; */
  padding: 0.8rem;
  transition: var(--transition);
}

.link {
  text-decoration: none;
  color: var(--color-darkgreen-1);
}

.item:hover {
  background: var(--color-lightgreen);
}

.item:hover .link {
  color: var(--color-darkgreen-1);
}

.show-list {
  display: block;
}

/* Toggle Button */
.toggle-btn {
  background: var(--color-darkgreen-1);
  color: var(--color-white);
  /* transition: var(--transition); */
}

/* .toggle-btn:hover {
  background: var(--color-lightgreen);
  color: var(--color-darkgreen-1);
} */

.open {
  background: var(--color-lightgreen);
  color: var(--color-darkgreen-1);
}

/* .open:hover{
  background: var(--color-darkgreen-1);
  color: var(--color-white);
} */

.show {
  display: inline-block;
  /* display: block; */
}

.hide {
  display: none;
}

/* Calculate Button */
.calculate-btn,
.thumbsup-btn {
  margin: 1rem 2rem;
  background: transparent;
  border: none;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.calculate-btn i {
  font-size: 1rem;
  cursor: pointer;
}

.calculate-0 {
  color: var(--color-lightgreen);
}

.calculate-1 {
  color: var(--color-darkgreen-1);
}

.calculate-0:hover,
.calculate-1:hover {
  color: var(--color-green);
}

#calculate-number {
  color: var(--color-darkgreen-1);
  font-size: 1rem;
}

/* Thumbsup Button */
.thumbsup-btn i {
  cursor: pointer;
}

.thumbsup-0 {
  color: var(--color-lightgreen);
}

.thumbsup-1 {
  color: var(--color-darkgreen-1);
}

.thumbsup-0:hover,
.thumbsup-1:hover {
  color: var(--color-green);
}
