:root {
  --color-brown: #291b1cac;
  --color-darkpink: #bb9fa2;
  --color-lightpink: #b1979adc;
  --color-pink: #852938;
  --color-lightgreen-1: #c3c6b8;
  --color-lightgreen-2: #abb09c;
  --color-lightgreen-3: #93997f;
  --color-green-1: #a4b083;
  --color-green-2: #bcd275;
  --color-darkgreen: #4b4f3a;
  --color-white: #ffffff;
  --color-blue: #5a7ac4;
  --color-lightpurple-1: #d3d2e0;
  --color-lightpurple-2: #b5b3cb;
  --color-lightpurple-3: #9895b6;
  --color-lightpurple-4: #7a77a2;
  --color-purple: #615d88;
  --color-darkpurple: #4b496a;
  --color-black: #0f0a0b;
  --transition: all 0.3s linear;
  --box-shadow: 0 1px 4px 1px rgb(0, 0, 0, 0.3);
  --border: 2px dashed var(--color-darkpurple);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.timer-1 {
  margin: 1rem 1.5rem;
  text-align: right;
}

#timer-1 {
  color: var(--color-darkpurple);
}

.timer {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
}

.timer-2 {
  width: 60vw;
  max-width: 350px;
  min-width: 280px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); */
  grid-template-columns: 2fr repeat(3, auto);
  grid-template-rows: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  border: var(--border);
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

#timer-2 {
  /* border: var(--border); */
  /* border-radius: 30px; */
  color: var(--color-darkpurple);
}

.timer-btn {
  border: none;
  border-radius: 50px;
  padding: 0.2rem 0.8rem;
  transition: var(--transition);
}

.checked {
  opacity: 0.6;
  /* cursor: default; */
  cursor: not-allowed;
}

.timer-2-start {
  background: var(--color-green-1);
  color: var(--color-darkgreen);
}

.timer-2-start-uncheck:hover {
  background: var(--color-darkgreen);
  color: var(--color-green-2);
  box-shadow: var(--box-shadow);
}

.timer-2-stop {
  background: var(--color-darkpink);
  color: var(--color-brown);
}

.timer-2-stop-uncheck:hover {
  background: var(--color-lightpink);
  color: var(--color-pink);
  box-shadow: var(--box-shadow);
}

.timer-2-clear {
  background: var(--color-purple);
  color: var(--color-lightpurple-2);
}

.timer-2-clear-uncheck:hover {
  background: var(--color-darkpurple);
  color: var(--color-lightpurple-1);
  box-shadow: var(--box-shadow);
}

.timer-2-start-uncheck,
.timer-2-stop-uncheck,
.timer-2-clear-uncheck {
  opacity: 1;
  cursor: pointer;
}
